<!DOCTYPE html>
<html>
<head>
	<title>Portal de notícias</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		body {
			font-family: Lato, Verdana, sans-serif;
			background-color: #FEFEFE;
		}

		.title {
			padding: 60px 0 10px 0;
			background-color: #888888;
			text-align: center;
			height: 100px;
		}

		.content {
			margin-top: 20px;
			text-align: center;
		}

		.lista_noticias {
			display: flex;
			justify-content: center;
		}

		.lista_noticias table {
			border-collapse: collapse;
		}
		
		.lista_noticias table th {
			background-color: #375CB1;
			color: #FFF;
			height: 2em;
		}

		.lista_noticias table td {
			padding: .8em;
			border-bottom: 1px solid #888;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="title">
				<h1>Portal de notícias NodeJS</h1>
				<a href="/">Home</a> - <a href="add_noticia">Cadastrar notícia</a>

			</div>
			<div class="content">
				<div class="lista_noticias">
					<table>
						<th>ID</th>
						<th>Título</th>
						<% data.map((data) => { %>
							<tr>
								<td><%= data.id %></td>
								<td><%= data.titulo %></td>
							</tr>
						<% }); %>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>