<!DOCTYPE html>
<html>
<head>
	<title>Portal de notícias</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		body {
			font-family: Lato, Verdana, sans-serif;
			background-color: #FEFEFE;
		}

		.title {
			padding: 60px 0 10px 0;
			background-color: #888888;
			text-align: center;
			height: 100px;
		}

		.content {
			margin-top: 20px;
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="title">
				<h1>Portal de notícias NodeJS</h1>			
			</div>
			<div class="content">
				<p>Suas notícias</p>
			</div>
		</div>
	</div>
</body>
</html>